In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

__Act1-__ One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [ ]:
# null hypothesis
# H0: \mu_new > \mu_old
# H1: \mu_new < \mu_old

In [3]:
df= pd.read_csv('files_for_lab/machine.txt', sep= '\t')

df_1= pd.read_csv('files_for_lab/machine.txt')

df_1.head()

df_1.columns

df_1['old_machine']= df_1['New machine\t    Old machine']

df_1.rename(columns= {'New machine\t    Old machine': 'new_machine'}, inplace= True)

df_1.columns
df_1.head()

df_1['new_machine'].apply(lambda x: float(x.split('\t')[0]))

def fixing_cols(x):
    x= float(x.split('\t')[0])
    return x

def fixing_cols_1(y):
    y= float(y.split('\t ')[1])
    return y

df_1['new_machine']= df_1['new_machine'].apply(fixing_cols)

df_1['old_machine']= df_1['old_machine'].apply(fixing_cols_1)

In [ ]:
# null hypothesis
# H0: \mu_new > \mu_old
# H1: \mu_new < \mu_old

# In this example we can refute the null hypothesis

In [7]:
df.head()

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5

In [13]:
df.mean()

New machine    42.14
Old machine    43.23
dtype: float64

In [10]:
df.columns

Index(['New machine', '    Old machine'], dtype='object')

In [11]:
df.rename(columns= {'    Old machine': 'Old machine'}, inplace= True)

In [12]:
st.ttest_ind(df['New machine'], df['Old machine'], equal_var=False)

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

__Act2-__ Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [16]:
df_1= pd.read_csv('files_for_lab/pokemon.csv')

In [17]:
df_1.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
# null hypothesis
# H0: \mu_new = \mu_old
# H1: \mu_new !=\mu_old

In [18]:
st.ttest_rel(df_1['Attack'], df_1['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
# p-value extremely low hence we can conclude refuting the initial hypothesis that \mu_new = \mu_old
# positive statistic means \mu_attack-\mu_defense > 0   ---->  \mu_attack > \mu_defense

In [27]:
df_1.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

__Optional_ Anova__ In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

State the null hypothesis
State the alternate hypothesis
What is the significance level
What are the degrees of freedom of model, error terms, and total DoF

In [49]:
df_a= pd.read_excel('files_for_lab/anova_lab_data.xlsx')

In [50]:
df_a.head()
len(df_a)
df_a.info()

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

15

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
Power           15 non-null object
Etching Rate    15 non-null float64
dtypes: float64(1), object(1)
memory usage: 368.0+ bytes

In [54]:
df_a.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [55]:
df_a.rename(columns= {'Power ': 'Power'}, inplace= True)

In [56]:
df_a['Power'].value_counts()

160 W    5
180 W    5
200 W    5
Name: Power, dtype: int64

In [ ]:
interest_r['city_count'] = interest_r.groupby('City').cumcount() ##is the new index 

interest_r_pivot = interest_r.pivot(index='city_count', columns='City', values='Rate')
interest_r_pivot.columns = ['City_'+str(x) for x in interest_r_pivot.columns.values]
interest_r_pivot.head()

In [60]:
df_a['power_count'] = df_a.groupby('Power').cumcount() ##is the new index 

df_a_piv = df_a.pivot(index='power_count', columns='Power', values='Etching Rate')
df_a_piv.columns = ['Power'+str(x) for x in df_a_piv.columns.values]
df_a_piv.head()

             Power160 W  Power180 W  Power200 W
power_count
0                  5.43        6.24        8.79
1                  5.71        6.71        9.20
2                  6.22        5.98        7.90
3                  6.01        5.66        8.15
4                  5.59        6.60        7.55

In [64]:
df_a_piv.rename(columns= {'Power160 W': 'Power160', 'Power180 W': 'Power180', 'Power200 W': 'Power200'}, inplace= True)

In [68]:
df_a_piv.columns

Index(['Power160', 'Power180', 'Power200'], dtype='object')

In [69]:
st.f_oneway(df_a_piv['Power160'],df_a_piv['Power180'],df_a_piv['Power200'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [ ]:
# null hypothesis: \mu_power != \mu_etching_rate
# alternate hypothesis: \mu_power = \mu_etching_rate
# level of significance:
# p-value
# f-table: